<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hirshagarwal.traumaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newTrauma"
            android:label="@string/title_activity_new_trauma" />
        <activity
            android:name=".newPatient"
            android:label="@string/title_activity_new_patient" />
        <activity
            android:name=".SelectTrauma"
            android:label="@string/title_activity_select_trauma" />
        <activity
            android:name=".gcs.Eyes"
            android:label="@string/title_activity_eyes" />
        <activity
            android:name=".gcs.Verbal"
            android:label="@string/title_activity_verbal" />
        <activity
            android:name=".gcs.Motor"
            android:label="@string/title_activity_motor" />
        <activity
            android:name=".gcs.Score"
            android:label="@string/title_activity_score" />
        <activity
            android:name=".PatientDashboard"
            android:label="@string/title_activity_patient_dashboard"></activity>
    </application>

</manifest>
